.error {
    width: 100%; /*1240px*/
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  .error404 {
    color: #FF6060;
    font-size: 288px;
    font-weight: 700;
  }
  
  .oups {
      color:#FF6060;font-size:
  36px;margin-bottom:
  100px;display:flex
  }
  
  .retourner {
  color:#FF6060;font-size:
  18px;font-weight:
  500;margin-bottom:
  30px
  }
  
  @media (max-width :768 px) {
  
  .error {height :300 px}
  .oups {flex-direction :column;align-items :center;font-size :18 px}
  .retourner {font-size :14 px}
  .error404 {font-size :96 px;margin-top :-30 px}}
  