.Card {
    display:flex;
    flex-direction: column;
    border:4px solid black;
    width: 100%;/*1240px;*/
    height: 693px;  /* 643px */
    justify-content:space-between;
}

.carrousel {
    border:1px solid red;
    width:100%; /*1240px;*/
    height: 415px;
    background-color: #FF6060;
}

.wrapper1Gauche {
    height:77px;
    width:1240px;
    display:flex;
    flex-direction:column;
}

.wrapper1 {
    height:50px;
    width:100%;/*1240px;*/
    margin-top : 10px;
    display:flex;
    justify-content:space-between;
}

.title {
    height:70px;
    width:auto;/*935px; *//* ancinnement 635*/
    color:#FF6060;
    font-size:36px;
    font-weight:500;
    font-family:'Montserrat'
}

.location {
    color:#FF6060;
    font-size:18px;
    font-weight:500;
    font-family:'Montserrat'
}

.host {
    height:64px;
    width:167Px;
    display:flex;
    justify-content:space-between;
    color:black
}

.hostName { 
    display:flex;
    justify-content:flex-end;
    width:76px;
    color:#FF6060;
    text-align:right;
    font-size:18px;
    font-weight:500;
    font-family:'Montserrat';
}

.hostPicture {
    width:64px;
    height:64px;
    background-color:#C4C4C4;
    border-radius:50px;
    color:black
}

.wrapper2 {
    display:flex;
    justify-content : space-between;
    align-items:flex-end;
    width:100%; /*1240px;*/
    height:36px;
    margin-top : 10px;    
}

.rate {
    height:36px;
    width:196px;
}

.rate img {
    width:36px;
    height:36px
}

.details {
    display:flex;
    align-items:start;
    justify-content: space-between;
    width:100%;/*240px;*/
   height:104px;/* height:52px; */
    border:2px solid black;
    margin-top : 10px;
    color:#FFFFFF;
}

.description {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:582px;
    border-radius:10px;
}

.pDescription {
    font-size:18px;
    font-weight:500;
    font-family:'Montserrat';
    margin-right:-170px;
    margin-left:25px;
    z-index:1
}

.pEquipments {
    font-size:18px;
    font-weight:500;
    font-family:'Montserrat';
    margin-right:-180px;
    margin-left:65px;
    z-index:1
}

.equipements {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:582px;
    border-radius:10px;
}

