.cardBody {
  display: flex;
  justify-content: center;
  /* margin-bottom: 40px;*/
}

.Card {
  display: flex;
  flex-direction: column;
  width: 86.11%; /*1240px;*/
  justify-content: space-between;
}

.carrousel {
  width: 100%; /*1240px;*/
  height: 415px;
  background-color: #ff6060;
  border-radius: 25px;
}

.sliderStyles {
  height: 100%;
  position: relative;
  object-fit: cover;
}

.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 196px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 196px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.numbering {
  color: white;
  position: absolute;
  top: 85%;
  right: 50%;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat";
  z-index: 1;
}

.containerStyles {
  width: 100%; /*1240px*/
  height: 415px;
  margin: auto;
}

.wrapper1Gauche {
  height: 77px;
  width: 86.11px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

.wrapper1 {
  height: 146px;
  width: 70%; /*1240px*/
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 51px;
  width: 100%;
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  font-family: "Montserrat";
}

.location {
  color: #ff6060;
  height: 26px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat";
  width: 100%;
  margin-bottom: 20px;
}

.host {
  height: 64px;
  width: 167px;
  display: flex;
  justify-content: end;
  color: black;
  margin-bottom: 15px;
}

.hostName {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  width: 60px;
  color: #ff6060;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 1.3;
}

.hostPicture {
  width: 64px;
  height: 64px;
  background-color: #c4c4c4;
  border-radius: 50px;
  color: black;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%; /*1240px*/
  height: 146px;
  margin-top: 10px;
}

.rate {
  height: 36px;
  width: 196px;
}

.rate img {
  width: 36px;
  height: 36px;
}

.details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%; /*240px*/
  height: 104px; /*height:
  52px*/
  margin-top: 10px;
  color: #ffffff;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46.94%; /*582px*/
  border-radius: 10px;
}

.equipements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 582px;
  border-radius: 10px;
  width: 46.94%;
}

@media (max-width: 768 px) {
  .Card {
    height: 570 px;
  }
  .carrousel {
    height: 255 px;
  }
  .numbering {
    display: none;
  }
  .title {
    font-size: 18 px;
    height: 46 px;
  }
  .location {
    font-size: 14 px;
    height: 22 px;
    margin-bottom: 8 px;
  }
  .wrapper {
    flex-direction: column;
    height: 180 px;
  }
  .wrapper1 {
    height: 120 px;
    margin-top: 0;
  }
  .wrapper2 {
    height: 70 px;
    width: 100%;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
    margin-top: -20 px;
  }
  .rate {
    margin-top: 15 px;
    height: 18 px;
  }
  .rate img {
    width: 18 px;
    height: 18 px;
  }
  .hostName {
    font-size: 12 px;
  }
  .containerStyles {
    height: 255 px;
  }
  .leftArrowStyles {
    font-size: 80 px;
  }
  .rightArrowStyles {
    font-size: 80 px;
  }
  .details {
    flex-direction: column;
    margin-top: 20 px;
    margin-bottom: 20 px;
  }
  .description {
    font-size: 13 px;
    width: 100 %;
  }
  .equipements {
    font-size: 13 px;
    width: 100 %;
  }
  .titleCollapse {
    height: 30 px;
  }
}
