.sectionFooter {
    color: #ffffff;
    background-color: black;
    width: 100%;
    margin: auto;
    height: 209px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-family: "Montserrat";
  }
  
  .lmj-footer-elem {
    margin-bottom: 10px;
  }
  
  .conteneurRightsreserved {
    border-color: white;
    width: 513px;
    height: 46px;
    display: flex;
    justify-content: center;
  
      .rightsReserved1,
      .rightsReserved2 {
        display: block;
        margin: 0;
        width: 190px;
        height: 40px;
        font-size: 24px;
        font-weight: 500;
        line-height: 34.23px;
      }
  }
  
  @media (max-width: 768px) {
      .sectionFooter {
          width: 100%;
          height: 209px;
      }
  
      .conteneurRightsreserved {
          flex-direction: column;
          align-items: center;
  
          .rightsReserved1,
          .rightsReserved2 {
              font-size: 12px;
              height: 20px;
              display:flex;
              justify-content:center
          }
      }
  }
  