$color_1: #ffffff;
$font-family_1: "Montserrat";
$background-color_1: black;
$border-color_1: white;

.sectionFooter {
  color: $color_1;
  background-color: $background-color_1;
  width: 100%;
  margin: auto;
  height: 209px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-family: $font-family_1;
}
.kasa-logoNoir {
  margin-top: 50px;
  margin-bottom: 20px;
}

.lmj-footer-elem {
  margin-bottom: 10px;
}
.conteneurRightsreserved {
  border-color: $border-color_1;
  width: 513px;
  height: 46px;
  display: flex;
  justify-content: center;
}
.rightsReserved1 {
  display: block;
  margin: 0;
  width: 190px;
  height: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.23px;
}
.rightsReserved2 {
  display: block;
  margin: 0;
  width: 190px;
  height: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.23px;
}
@media (max-width: 768px) {
  .sectionFooter {
    width: 100%;
    height: 209px;
  }
  .kasa-logoNoir {
    width: 122px;
    height: 39.44px;
    margin-top: 66px;
  }
  .conteneurRightsreserved {
    flex-direction: column;
    align-items: center;
  }
  .rightsReserved1 {
    font-size: 12px;
    height: 20px;
    display: flex;
    justify-content: center;
  }
  .rightsReserved2 {
    font-size: 12px;
    height: 20px;
    display: flex;
    justify-content: center;
  }
}
