.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 25px;
  border-radius: 10px;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 10px;
  background-color: #ff6060;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
}

.tags {
  display: flex;
  width: auto; /*365px;*/
  height: 25px;
}

@media (max-width: 768px) {
  .tags {
    height: 18px;
  }

  .tag {
    height: 18px;
    font-size: 10px;
  }
}
